.catalog {
  width: 100%;
  padding: 60px 20px;
  background: white;
  &__list {
    justify-content: center;
    &-wrap{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      flex-wrap: wrap;
      column-gap: 12px;
      @media all and (max-width: 1200px){
        grid-template-columns: 1fr 1fr 1fr;
      }
      @media all and (max-width: 850px){
        grid-template-columns: 1fr 1fr;
      }
      @media all and (max-width: 720px){
        grid-template-columns: 1fr;
      }
    }
  }
}