.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 0 6px 0px #c2c2c2c7;
  margin: 7px 0;
  padding: 15px;
  border-radius: 5px;
  &__image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    height: 250px;
    overflow: hidden;
    .img {
      max-width: 200px;
      max-height: 250px;
    }
  }
  &__conteiner {
    .conteiner__info {
      margin-bottom: 15px;
      h3 {
        color: black;
        text-align: center;
        font-size: 16px;
      }
    }
    .conteiner__price {
      margin-bottom: 15px;
      p {
        color: rgb(61, 61, 61);
        font-size: 20px;
        text-align: center;
      }
    }
    .conteiner__btn {
      display: flex;
      justify-content: center;
      .btn {
        cursor: pointer;
        border: none;
        height: 50px;
        width: 80%;
        border-radius: 5px;
        background-color: rgb(161, 238, 255);
        color: black;
        font-size: 14px;
        font-weight: 600;
        &:hover {
          background-color: rgb(255, 181, 71);
        }
      }

      .remove_product{
        background: mediumseagreen;
        color: white;
        &:hover {
          background: darkgreen;
        }
      }
      .btn.no-active {
        cursor: crosshair;
        color: rgb(132, 132, 132);
        background-color: rgb(189, 189, 189);
        &:hover {
          background-color: rgb(189, 189, 189);
        }
      }
    }
  }
}