.header {
  height: 50px;
  position: fixed;
  left: 0;
  right: 0;
  .content__header {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(96, 96, 96, 0.714);
    padding: 0 15px;
    margin-bottom: 10px;
    max-width: 1140px;
    min-width: 360px;
    margin: 0 auto;
    background-color: #ffffff;
     .header__logo {
      cursor: pointer;
      a {
        text-decoration: none;
      }
      p {
        font-size: 24px;
        font-weight: 700;
        color: rgb(7, 0, 57);
      }
    }
    .header__navbar {
      display: flex;
      align-items: center;
      .btn-block {
        display: flex;
      }
      button {
        cursor: pointer;
        width: 106px;
        border: none;
        background-color: white;
        border-radius: 5%;
        margin-right: 25px;
      }
      .card__icon {
        cursor: pointer;
        margin-right: 20px;
        position: relative;
        &__image {
          img {
            width: 30px;
          }
        }
        &__icon {
          position: absolute;
          width: 17px;
          border-radius: 50%;
          background-color: red;
          top: 0;
          right: -2px;
          p {
            text-align: center;
            color: white;
            font-size: 13px;
            font-weight: 400;
          }
        }
      }
    }
    .header__burger {
      width: 30px;
      height: 20px;
      position: relative;
      margin-right: 30px;
      cursor: pointer;
      span {
        width: 100%;
        height: 3px;
        background-color: black;
        position: absolute;
        top: 9px;
      }
    }
    .header__burger::after {
      content: '';
      width: 100%;
      height: 3px;
      background-color: black;
      position: absolute;
      top: 0;
    }
    .header__burger::before {
      content: '';
      width: 100%;
      height: 3px;
      background-color: black;
      position: absolute;
      bottom: 0;
    }
  }
  &__menu {
    height: 100vh;
    background-color: rgba(255,255,255,0.8);
    backdrop-filter: blur(10px);
    display: block;
    position: relative;
    max-width: 1140px;
    min-width: 360px;
    margin: 0 auto;
    .conteiner__menu {
      position: absolute;
      display: flex;
      width: 100%;
      height: 100%;
      top: 5%;
      margin: 0 auto;
      button {
        height: 50px;
        width: 100%;
        //margin-top: 20px;
        border: none;
        background-color: #d0d0d0;
        border-radius: 4px;
        color: #45434e;
        font-weight: bold;
        text-transform: uppercase;
        cursor: pointer;
        margin: 0 10px;
        &:hover {
          background: #a1eeff;
        }
      }
    }

  }
  
}