@import '../utils/colors.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $font-color;
}

body, html {
  background-color: $background-color;
  margin: 0 auto;
  max-width: 1140px;
  min-width: 360px;
}

#root {
  width: 100%;
  margin: 0 auto;
}

.App {
  margin: 0 auto;
}